.fruits{
    border: 3px solid cornflowerblue;
    text-align: center;
    font-family: cursive;
    background-color: coral;
    margin: 20px;
    padding: 20px;
}
.cars{
    border: 5px solid chartreuse;
    text-align: center;
    font-family: "Lohit Telugu";
    margin: 25px;
    padding: 15px;
    background-color: indianred;


}
.Dogs{
    border: 7px solid peachpuff;
    text-align: center;
    font-family: KacstPen;
    margin: 30px;
    padding: 25px;
    background-color: silver;
}
#computer{
    border: #51ff51;
    text-align: center;
    font-family: Chandas;
    margin: 20px;
    padding: 20px;
    background-color: darkgrey;
}